/* * {border: 1px dotted black} */

body, html {
  margin: 0;
  padding: 0;
  font-family:  'Roboto', sans-serif;
  font-size: 14px;
  /* background-image:url('board-bg.jpeg');
  background-size:cover;
  background-attachment: fixed; */
}

.home > div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.loginBox {
  min-width: 800px;
  min-height: 300px;
  text-shadow: 2px 2px #D5C4A7;
  color:#319F52;
  text-align:center;
  font-weight: 600;
}

.loginBox > h1 {
  font-size: 84px;
  margin-bottom: 15px;
}

.loginBox form {
  font-size:20px;
  font-weight:600;
}

.loginBox a {
  color:#319F52;
}

.container p {
  margin-top : 14px;
}

.navbar {
  width: 100%;
  border-bottom: 1px black solid;
}

.navbar h2 {
  margin-left:15px;
  margin-right:25px;
  font-size:30px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
}


.mealsCol {
  border-right: 1px solid black;
}

.mealsHead {
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 10px;
  margin-top:-10px;
}

.mealsCol input{
  max-width: 40%;
}

.todayList > div{
  padding:5px;
}

.totalList {
  border-bottom: 1px solid black;
}

.totalList > div {
  padding:5px;
  margin:5px;

}

#dailyTotals {
  font-size: 32px;
}

.dailyTotalsLabel {
  font-size:24px;
  text-align:center;
}

.dailyTotalsValue {
  font-size:24px;
  text-align:center;
}

.newEntryDialog {
  padding:20px;
}
.newEntryDialog div{
  margin:2px;
}

.itemBarGraph{
  width:100px;
  border: 1px solid black;
}

.itemBarFat{
  background-color:green;height:20px;
}

.itemBarProtein{
  background-color:blue;height:20px
}

.itemBarCarbs{
  background-color:red;height:20px
}

.favorites h3{
  text-align:center;
  border-bottom: 1px solid black;
}

.favMeal {
  border: 1px solid black;
  margin:2px;
  padding:4px;
  border-radius: 5px;
  background-color:lightblue;
  cursor:pointer;
}

.favsDialogContent {
  text-align:center;
  font-weight:600;
  min-width:500px;
}

.favsDialogContent div{
  margin:2px;
}

.todayListServings{
  text-align:right;
}

.md-toolbar-tools{
  font-size: 28px;
  margin-left:auto;
  margin-right:auto;
}


/* BEGIN API SEARCH DROPDOWN */
.dropdown {
    position: relative;
    min-width:400px;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width:100%
}

 /* TESTING */
/* .dropdown-content div{
    border: 1px dotted black;
} */

.dropdown-content img{
    max-width: 35px;
    margin: 5px;
}

.dropdown-content h6 {
    border-bottom: 1px solid black;
    margin:5px;
    padding:5px;
}
.dropdown-item {
  border-bottom:1px solid grey;
    height:45px;
  padding:3px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.common-item {
  font-size: 18px;

}

.branded-item {
  font-size: 12px;

}

#apiSearchBox{
  width:100%;
  border: 1px solid black;
  border-radius:3px;
  height:30px;
}

/* END API SEARCH DROPDOWN */

.mealsHead h1{
 margin:10px;
}

.mealsTodayCol {
  padding:10px;
}
