<md-dialog aria-label="Add-an-item">
  <!-- <form ng-cloak> -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>{{apiFoodObject.name}}</h1>
      </div>
    </md-toolbar>

    <md-dialog-content class="favsDialogContent">

      <div>Serving size: {{apiFoodObject.servingSize}}</div>
      <div>
        Servings: <input type="number" name="numberServings" ng-model="apiFoodObject.servings">
      </div>


      <div>Calories (per serving): {{apiFoodObject.calories}}</div>
      <div>Fat(g): {{apiFoodObject.fat}}</div>

      <div>Carbohydrates(g): {{apiFoodObject.carbohydrates}}</div>
      <div>Fiber(g): {{apiFoodObject.fiber}}</div>
      <div>Sugar(g): {{apiFoodObject.sugar}}</div>
      <div>Protein(g): {{apiFoodObject.protein}}</div>
      <div>Sodium(mg): {{apiFoodObject.sodium}}</div>

    </md-dialog-content>

    <md-dialog-actions layout="row">




      <md-button class="md-raised md-primary" type="button" name="button" ng-click="cancel()">Cancel</md-button>

      <md-button class="md-raised md-primary" type="button" name="button" ng-click="addEntry(apiFoodObject)">Add</md-button>

    </md-dialog-actions>
  </form>
</md-dialog>
