<md-dialog aria-label="Add-an-item">
  <!-- <form ng-cloak> -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add an Item</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>

        <div>Name: <input type="text" ng-model="mealName"></div>
        <div>Serving size: <input type="text" ng-model="mealServingSize"></div>
        <div>Servings: <input type="number" ng-model="mealServings"></div>
        <div>Calories (per serving): <input type="number" ng-model="mealToEnter.calories"></div>
        <div>Fat(g): <input type="number" ng-model="mealToEnter.fat"></div>
        
        <div>Carbohydrates(g): <input type="number" ng-model="mealToEnter.carbohydrates"></div>
        <div>Fiber(g): <input type="number" ng-model="mealToEnter.fiber"></div>
        <div>Sugar(g): <input type="number" ng-model="mealToEnter.sugar"></div>
        <div>Protein(g): <input type="number" ng-model="mealToEnter.protein"></div>
        <div>Sodium(mg): <input type="number" ng-model="mealToEnter.sodium"></div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" type="button" name="button" ng-click="cancel()">CANCEL</md-button>
      <md-button class="md-raised md-primary" type="button" name="button" ng-click="createEntry(mealName, mealServingSize, mealServings, mealToEnter)">SAVE</md-button>
      <md-button class="md-raised md-primary" type="button" name="button" ng-click="createEntryFavorite(mealName, mealServingSize, mealServings, mealToEnter)">SAVE AND FAVORITE</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
