<md-dialog aria-label="Edit-favorite">
  <!-- <form ng-cloak> -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Favorite</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content class="newEntryDialog">

        <div>Name: <input type="text" ng-model="favObject.name"></div>
        <div>Serving size: <input type="text" ng-model="favObject.servingSize"></div>

        <div>Calories (per serving): <input type="number" ng-model="favObject.calories"></div>
        <div>Fat(g): <input type="number" ng-model="favObject.fat"></div>

        <div>Carbohydrates(g): <input type="number" ng-model="favObject.carbohydrates"></div>
        <div>Fiber(g): <input type="number" ng-model="favObject.fiber"></div>
        <div>Sugar(g): <input type="number" ng-model="favObject.sugar"></div>
        <div>Protein(g): <input type="number" ng-model="favObject.protein"></div>
        <div>Sodium(mg): <input type="number" ng-model="favObject.sodium"></div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" type="button" name="button" ng-click="cancel()">CANCEL</md-button>
      <md-button class="md-raised md-primary" type="button" name="button" ng-click="updateFavorite(favObject)">UPDATE</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
