<div class="navbar" ng-controller="UserController as uc">
  <span>Meal-Tracker</span>
  <div flex></div>
  <div class="navContainer">
      <!-- <li><a href="#/user">User Home</a></li> -->
      <a class="navLinkItem" href="#/meals">Meal Tracking</a>
      <a class="navLinkItem" href="#/history">History</a>
      <!-- <li><a href="#/goals">Goals</a></li> -->
      <!-- <li><a href="#/testing">TESTING</a></li> -->
      <a class="navLinkItem" ng-click="uc.userService.logout()">Log Out</a>
  </div>

</div>
