<div class="navbar" layout="row" ng-controller="UserController as uc">

  <div class="">
    <h2>Fit-Tracker</h2>
  </div>




    <div>
      <ul>
        <li><a href="#/user">User Home</a></li>
        <li><a href="#/meals">MealTracking</a></li>
        <li><a href="#/goals">Goals</a></li>
        <li><a href="#/testing">TESTING</a></li>
      </ul>
    </div>


    <div flex></div>
    <div>
      <md-button class="md-raised"ng-click="uc.userService.logout()">Log Out</md-button>
    </div>
</div>
