<div ng-include="'views/partials/nav.html'"></div>

<div class="container">
  <h1>EDITING GOALS</h1>
  Current goals:
  <br>Calories: <input type="number" ng-model="gc.goals.calories[0]"> - <input type="number" ng-model="gc.goals.calories[1]">
  <br>Carbohydrates: <input type="number" ng-model="gc.goals.carbohydrates[0]"> - <input type="number" ng-model="gc.goals.carbohydrates[1]">
  <br>Fat: <input type="number" ng-model="gc.goals.fat[0]"> - <input type="number" ng-model="gc.goals.fat[1]">
  <br>Fiber: <input type="number" ng-model="gc.goals.fiber[0]"> - <input type="number" ng-model="gc.goals.fiber[1]">
  <br>Protein: <input type="number" ng-model="gc.goals.protein[0]"> - <input type="number" ng-model="gc.goals.protein[1]">
  <br>Sodium: <input type="number" ng-model="gc.goals.sodium[0]"> - <input type="number" ng-model="gc.goals.sodium[1]">
  <br>Sugar: <input type="number" ng-model="gc.goals.sugar[0]"> - <input type="number" ng-model="gc.goals.sugar[1]">
  <br><br>
  <md-button class="md-raised md-primary" type="button" name="button" ng-click="gc.cancelEdit()">CANCEL</md-button>
  <md-button class="md-raised md-primary" type="button" name="button" ng-click="gc.saveEdit()">SAVE</md-button>
</div>
