<!-- <div ng-include="'views/partials/nav.html'"></div>

<div class="container">
    <h1>Welcome, {{hc.userObject.userName}}!</h1>
</div>

<div ng-repeat="day in hc.fullHistory"class="">
  {{day.date | date}} - <span ng-class="{true: 'carbsGood', false: 'carbsBad'}[day.totals.netCarbs <= 30]">{{day.totals.netCarbs}}g</span>
</div> -->


<div ng-include="'views/partials/nav.html'"></div>

<div class="mealsMain">

  <div class="mealsContainer">

    <div class="favoritesCol">
      <h3>HISTORY</h3>

      <!-- <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!mc.favorites"> /// SPINNER
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div> -->

      <!-- <div layout="row" layout-sm="column" layout-align="center center" ng-if="mc.favorites.length == 0"> /// NO HISTORY
        No favorites to show.
      </div> -->

      <div ng-repeat="day in hc.fullHistory" class="" ng-click="hc.dateClicked(day)">
        {{day.date | date}} - <span ng-class="{true: 'carbsGood', false: 'carbsBad'}[day.totals.netCarbs <= 30]">{{day.totals.netCarbs}}g</span>
      </div>
    </div>

  </div>

  <!-- PAGE DIVIDE -->
