<div class="home">
  <img src="../styles/chopping-board1.jpg">
  <div class="">
  <div class="loginBox">
    <h1>fit.me</h1>
      <form ng-submit="lc.login()">
        <div>
          <label for="username">Username:</label>
          <input type="text" ng-model="lc.user.username" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="lc.user.password" />
        </div>
        <div>
          <input type="submit" name="submit" value="Log In" />
          <a href="#register">Register</a>
        </div>
      </form>
      <h2 role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    </div>
  </div>
</div>

<!-- <div class="home">
  <img src="../styles/chopping-board1.jpg">
  <div class="">
  <div class="loginBox">
    <h1 style='font-family: "Archivo"; margin:5px'>healthfit</h1>
    <h1 style='font-family: "Roboto", serif; margin:5px'>healthfit</h1>
    <h1 style='font-family: "Source Sans Pro", serif; margin:5px'>HealthFit</h1>
    <h1 style='font-family: "Open Sans"; margin:5px'>HealthFit</h1>
    <h1 style='font-family: "Raleway"; margin:5px'>HealthFit</h1>
    </div>
  </div>
</div> -->
