<!-- <header ng-include="'/views/partials/header.html'"></header> -->
<!-- <div ng-include="'views/partials/nav.html'"></div> -->

<div class="home">
  <img src="../styles/chopping-board1.jpg">
  <div class="">


  <div class="loginBox">
    <h1>Meal-Tracker</h1>
      <form ng-submit="lc.login()">
        <div>
          <label for="username">Username:</label>
          <input type="text" ng-model="lc.user.username" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="lc.user.password" />
        </div>
        <div>
          <input type="submit" name="submit" value="Log In" />
          <a href="#register">Register</a>
        </div>
      </form>
      <h1 role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    </div>
  </div>
  </div>
