<div ng-include="'views/partials/nav.html'"></div>

<div class="mealsMain" layout="row" flex-offset="5" flex="90">

  <div class="mealsCol" layout="column" flex="20" layout-align="start center">

    <div class="">

      <md-button class="md-raised md-primary" ng-click="mc.addEntryModal($event)">Add an Item</md-button><br>
      <button type="button" name="button" ng-click="">Search API for Item</button>
    </div>




    <div class="favorites">
      <h3>FAVORITES</h3>
      <div ng-repeat="fav in mc.favorites" class="favMeal" ng-click="mc.clickFavoriteModal($event, fav)">
        {{fav.name}}
      </div>
    </div>

  </div>

  <!-- PAGE DIVIDE -->

  <div class="mealsTodayCol" layout="column" flex="80">
    <div class="mealsHead">
      <h1>TODAY'S ENTRIES</h1>
    </div>
    <div layout="row" layout-align="center center" class="totalList">
      <div id="dailyTotals">
        TOTALS:
      </div>

      <div layout="column">
        <div class="dailyTotalsLabel">
          Calories
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.calories | number: 0}}
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
          Fat
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.fat | number: 0}}g
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
          Carbs
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.carbohydrates | number: 0}}g
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
          Fiber
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.fiber | number: 0}}g
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
          Sugar
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.sugar | number: 0}}g
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
          Protein
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.protein | number: 0}}g
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
          Sodium
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.sodium | number: 0}}mg
        </div>
      </div>



    </div>
    <div ng-repeat="item in mc.today" layout="row" layout-align="start center" class="todayList">
      <div layout="row" layout-align="center center" class="itemBarGraph">
        <div class="itemBarFat" ng-style="{width: {{item.fatPercent}} + 'px'}">

        </div>
        <div class="itemBarProtein" ng-style="{width: {{item.proteinPercent}} + 'px'}">

        </div>
        <div class="itemBarCarbs" ng-style="{width: {{item.carbPercent}} + 'px'}">

        </div>
      </div>
      <div flex="5" class="todayListServings">
        {{item.servings}} svg:
      </div>
      <div flex="20">
        {{item.name}}
      </div>
      <div flex="10" layout="column">
        <div class="">
          {{item.calories | number: 0}} calories
        </div>
        <div class="">
          {{item.fat | number: 0}}g fat
        </div>
      </div>
      <div flex="10" layout="column">
        <div class="">
          {{item.carbohydrates | number: 0}}g carbs
        </div>
      </div>
      <div flex="10" layout="column">
        <div class="">
          {{item.fiber | number: 0}}g fiber
        </div>
        <div class="">
          {{item.sugar | number: 0}}g sugar
        </div>
      </div>
      <div flex="10" layout="column">
        <div class="">
          {{item.protein | number: 0}}g protein
        </div>
        <div class="">
          {{item.sodium | number: 0}}mg sodium
        </div>
      </div>
      <!-- <md-button class="md-raised md-primary" ng-click="mc.saveToFavorites(item)">Save to Favorites</md-button> -->
      <md-menu>
     <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="mc.openMenu($mdMenu, $event, item)">
       BUTTON
     </md-button>
     <md-menu-content width="4">
       <md-menu-item >
         <md-button ng-disabled="mc.menuItem.addedFromFavorites" ng-click="mc.test()">
           Add to Favorites
         </md-button>
       </md-menu-item>
       <md-menu-item>
         <md-button ng-click="mc.test()">
           Edit
         </md-button>
       </md-menu-item>
       <md-menu-item>
         <md-button ng-click="mc.test()">
           Delete
         </md-button>
       </md-menu-item>
     </md-menu-content>
   </md-menu>
    </div>
  </div>

</div>
