<div ng-include="'views/partials/nav.html'"></div>

<div class="mealsMain" layout="row">

  <div class="mealsCol" layout="column" flex="40">
    <div class="mealsHead">
      <h1>MEALS</h1>
    </div>

  <ng-include src="mc.view">

  </div>

  <div class="mealsTodayCol"layout="column" flex="60">
    <div class="mealsHead">
      <h1>TODAY'S ENTRIES</h1>
    </div>
    <div layout="row" class="totalList">
      <div id="dailyTotals">
        TOTALS:
      </div>

      <div layout="column">
        <div class="dailyTotalsLabel">
          Calories
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.calories | number: 0}}
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
          Fat
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.fat | number: 0}}g
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
           Cholesterol
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.cholesterol | number: 0}}mg
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
          Carbs
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.carbohydrates | number: 0}}g
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
           Fiber
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.fiber | number: 0}}g
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
          Sugar
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.sugar | number: 0}}g
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
           Protein
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.protein | number: 0}}g
        </div>
      </div>
      <div layout="column">
        <div class="dailyTotalsLabel">
          Sodium
        </div>
        <div class="dailyTotalsValue">
          {{mc.todayTotal.sodium | number: 0}}mg
        </div>
      </div>



    </div>
    <div ng-repeat="item in mc.today" layout="row" class="todayList">
      <div>
        {{item.servings}} svg - {{item.name}}
      </div>
      <div layout="column">
        <div class="">
          {{item.calories | number: 0}} calories
        </div>
        <div class="">
          {{item.fat | number: 0}}g fat
        </div>
      </div>
      <div layout="column">
        <div class="">
          {{item.cholesterol | number: 0}}mg cholesterol
        </div>
        <div class="">
          {{item.carbohydrates | number: 0}}g carbs
        </div>
      </div>
      <div layout="column">
        <div class="">
          {{item.fiber | number: 0}}g fiber
        </div>
        <div class="">
          {{item.sugar | number: 0}}g sugar
        </div>
      </div>
      <div layout="column">
        <div class="">
          {{item.protein | number: 0}}g protein
        </div>
        <div class="">
          {{item.sodium | number: 0}}mg sodium
        </div>
      </div>
      <md-button class="md-raised md-primary" ng-click="mc.saveToFavorites(item)">Save to Favorites</md-button>
    </div>
  </div>

</div>
