<div ng-include="'views/partials/nav.html'"></div>

<div class="mealsMain" layout="row" flex-offset="5" flex="90">

  <div class="mealsCol" layout="column" flex="20" layout-align="start center">

    <div class="favorites">
      <h3>FAVORITES</h3>

      <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!mc.favorites">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>

      <div layout="row" layout-sm="column" layout-align="center center" ng-if="mc.favorites.length == 0">
        No favorites to show.
      </div>

      <div ng-repeat="fav in mc.favorites" class="favMeal" ng-click="mc.clickFavoriteModal($event, fav)">
        {{fav.name}}
      </div>
    </div>

  </div>

  <!-- PAGE DIVIDE -->

  <div class="mealsTodayCol" layout="column" flex="80">
    <div class="mealsHead" layout="row" layout-align="start center">
      <div><h1>TODAY'S ENTRIES</h1></div>
      <div flex></div>
      <div><md-button class="md-raised md-primary" ng-click="mc.addEntryModal($event)">Add an Item</md-button></div>
      <div class="dropdown">

        <!-- <input id="apiSearchBox" type="text" ng-keyup="mc.instantSearch(apiSearchText)" placeholder="Add from Nutritionix API search" ng-model="apiSearchText" ng-focus="mc.inFocus = true" ng-blur="mc.inFocus = false; apiSearchText=''; mc.instantData = {}">
        <div id="myDropdown" class="dropdown-content" ng-show="((mc.instantData.branded.length > 0) || (mc.instantData.common.length > 0)) && mc.inFocus"> -->
        <input id="apiSearchBox" type="text" ng-keyup="mc.instantSearch(mc.apiSearchText)" placeholder="Add from Nutritionix API search" ng-model="mc.apiSearchText">
        <div id="myDropdown" class="dropdown-content" ng-show="((mc.instantData.branded.length > 0) || (mc.instantData.common.length > 0)) && mc.apiSearchText != ''">

          <div ng-cloak>
            <md-content>
              <md-tabs md-dynamic-height md-border-bottom>

                <md-tab label="All" ng-click="mc.test()">
                  <md-content class="md-padding">
                    <h6>COMMON FOODS</h6>
                    <div ng-repeat="food in mc.instantData.common | limitTo: 5" ng-mousedown="mc.selectCommon($event, food)" class="dropdown-item common-item" layout="row" layout-align="start center">
                      <!-- <div style="height:30px;width:40px;background-color:blue;display:inline-block;margin:5px"></div> -->
                      <img src="{{food.photo.thumb}}" alt="">
                      <div class="">
                        {{food.food_name}}
                      </div>
                    </div>
                    <h6>BRANDED FOODS</h6>
                    <div ng-repeat="food in mc.instantData.branded | limitTo: 5" ng-mousedown="mc.selectBranded($event, food)" class="dropdown-item branded-item" layout="row" layout-align="start center">
                      <!-- <div style="height:30px;width:40px;background-color:blue;display:inline-block;margin:5px"></div> -->
                      <img src="{{food.photo.thumb}}" alt="">
                      <div layout="column" layout-align="center start">
                        <div class="">
                          {{food.food_name}}
                        </div>
                        <div class="" style="font-style:italic">
                          {{food.brand_name}}, {{food.serving_qty}}{{food.serving_unit}}
                        </div>
                      </div>
                      <div flex>  </div>
                      <div class="" layout="column" layout-align="center end">
                        <div class="">
                          {{food.nf_calories | number:0}}
                        </div>
                        <div class="">
                          cal
                        </div>
                      </div>

                    </div>
                  </md-content>
                </md-tab>

                <md-tab label="Common">
                  <md-content class="md-padding">
                    <h3>COMMON FOODS</h3>
                    <div ng-repeat="food in mc.instantData.common | limitTo: 10" ng-mousedown="mc.selectCommon($event, food)" class="dropdown-item common-item" layout="row" layout-align="start center">
                      <!-- <div style="height:30px;width:40px;background-color:blue;display:inline-block;margin:5px"></div> -->
                      <img src="{{food.photo.thumb}}" alt="">
                      <div class="">
                        {{food.food_name}}
                      </div>
                    </div>
                  </md-content>
                </md-tab>

                <md-tab label="Branded">
                  <md-content class="md-padding">
                    <h3>BRANDED FOODS</h3>
                    <div ng-repeat="food in mc.instantData.branded | limitTo: 10" ng-mousedown="mc.selectBranded($event, food)" class="dropdown-item branded-item" layout="row" layout-align="start center">
                      <!-- <div style="height:30px;width:40px;background-color:blue;display:inline-block;margin:5px"></div> -->
                      <img src="{{food.photo.thumb}}" alt="">
                      <div flex layout="column">
                        <div class="">
                          {{food.food_name}}
                        </div>
                        <div class="" style="font-style:italic">
                          {{food.brand_name}}, {{food.serving_qty}}{{food.serving_unit}}
                        </div>
                      </div>
                      <div class="" layout="column" layout-align="center end">
                        <div class="">
                          {{food.nf_calories | number:0}}
                        </div>
                        <div class="">
                          cal
                        </div>
                      </div>

                    </div>
                  </md-content>
                </md-tab>

              </md-tabs>
            </md-content>
          </div>
        </div>
      </div>

    </div>
    <div layout="row" layout-align="center center" class="totalList">
      <div id="dailyTotals" style="margin-left:20px">
        TOTALS:
      </div>

      <!-- <div layout="row" class=""> -->


      <div layout="column" class="dailyTotals" style="margin-left:20px">
        <div >
          Calories
        </div>
        <div>
          {{mc.todayTotal.calories | number: 0}}
        </div>
      </div>

      <div layout="column"  class="dailyTotals" style="margin-left:20px">
        <div>
          Fat
        </div>
        <div>
          {{mc.todayTotal.fat | number: 0}}g
        </div>
      </div>

      <div layout="column" class="dailyTotals" style="margin-left:20px">
        <div>
          Carbs
        </div>
        <div>
          {{mc.todayTotal.carbohydrates | number: 0}}g
        </div>
      </div>

      <div layout="column" class="dailyTotals" style="margin-left:20px">
        <div>
          Fiber
        </div>
        <div>
          {{mc.todayTotal.fiber | number: 0}}g
        </div>
      </div>

      <div layout="column" class="dailyTotals" style="margin-left:20px">
        <div>
          Sugar
        </div>
        <div>
          {{mc.todayTotal.sugar | number: 0}}g
        </div>
      </div>

      <div layout="column" class="dailyTotals" style="margin-left:20px">
        <div>
          Protein
        </div>
        <div>
          {{mc.todayTotal.protein | number: 0}}g
        </div>
      </div>

      <div layout="column" class="dailyTotals" style="margin-left:20px; margin-right:60px">
        <div>
          Sodium
        </div>
        <div>
          {{mc.todayTotal.sodium | number: 0}}mg
        </div>
      </div>
      <div layout="column" flex style="border-left:1px solid black">
        <div id="netCarbsLabel">
          Net Carbs
        </div>
        <div id="netCarbs" ng-class="{true: 'carbsGood', false: 'carbsBad'}[mc.todayTotal.carbohydrates - mc.todayTotal.fiber <= 30]">
          {{mc.todayTotal.carbohydrates - mc.todayTotal.fiber| number: 0}}g
        </div>
      </div>


    </div>

    <div layout="row" layout-sm="column" layout-align="center center" ng-if="!mc.today" style="margin-top:20px">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="row" layout-sm="column" layout-align="center center" ng-if="mc.today.length == 0" style="margin-top:20px">
      No entries to show.
    </div>

    <div ng-repeat="item in mc.today" layout="row" layout-align="start center" class="todayList">
      <div layout="row" layout-align="center center" class="itemBarGraph">
        <div class="itemBarFat" ng-style="{width: {{item.fatPercent}} + 'px'}">

        </div>
        <div class="itemBarProtein" ng-style="{width: {{item.proteinPercent}} + 'px'}">

        </div>
        <div class="itemBarCarbs" ng-style="{width: {{item.carbPercent}} + 'px'}">

        </div>
      </div>
      <div flex="5" class="todayListServings">
        {{item.servings}} svg:
      </div>
      <div flex="20">
        {{item.name}}
      </div>
      <div flex="10" layout="column">
        <div class="">
          {{item.calories | number: 0}} calories
        </div>
      </div>
      <div flex="10" layout="column">
        <div class="">
          {{item.fat | number: 0}}g fat
        </div>
        <div class="">
          {{item.carbohydrates | number: 0}}g carbs
        </div>
      </div>
      <div flex="10" layout="column">
        <div class="">
          {{item.fiber | number: 0}}g fiber
        </div>
        <div class="">
          {{item.sugar | number: 0}}g sugar
        </div>
      </div>
      <div flex="10" layout="column">
        <div class="">
          {{item.protein | number: 0}}g protein
        </div>
        <div class="">
          {{item.sodium | number: 0}}mg sodium
        </div>
      </div>
      <!-- <md-button class="md-raised md-primary" ng-click="mc.saveToFavorites(item)">Save to Favorites</md-button> -->
      <md-menu>
        <md-button class="md-raised md-primary" ng-click="mc.openMenu($mdMenu, $event, item)">OPTIONS</md-button>
        <md-menu-content width="4">
          <md-menu-item  ng-if="!mc.menuItem.addedFromFavorites">
            <md-button ng-click="mc.saveToFavorites(item)">
              Add to Favorites
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="mc.editEntry($event, item)">
              Edit
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="mc.deleteEntry(item)">
              Delete
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>

</div>
