<div class="home">

<div class="loginBox">
  <h1>Meal-Tracker</h1>
  <h2 role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
  <form ng-submit="lc.registerUser()">
    <div>
        <label for="username">Create username:</label>
        <input type="text" ng-model="lc.user.username" />
    </div>
    <div>
        <label for="password">Create password:</label>
        <input type="password" ng-model="lc.user.password" />
    </div>
    <input type="submit" name="submit" value="Register" />
    <a href="#home">Cancel</a>
  </form>

</div>
</div>
