<div ng-include="'views/partials/nav.html'"></div>

<div class="container">
  <div class="">
    test object properties:<br>
    color: {{tc.testObject.color}}<br>
    word: {{tc.testObject.word}}<br>
    number: {{tc.testObject.number}}<br>
    testVar: {{testVar}}<br>

    <button type="button" name="button" ng-onclick="tc.test()">TEST</button>
  </div>

<div class="">
  <button class="btn btn-primary" ng-click="showModal($event)">Create Account</button>
</div>

</div>
<div class="" layout="row" style="background-color:green;padding:5px;min-height:200px">
  <div class="" layout="column" flex="30" style="background-color:blue">
    <div class="" layout="row" style="background-color:yellow;padding:5px">
      <div style="background-color:red; width:33.334789%">
        30
      </div>
      <div style="background-color:blue; width:39.334789%">
        30
      </div>
      <div style="background-color:green; width:11.334789%">
        30
      </div>
    </div>
  </div>
</div>
